<a href="/"><button class="btn btn-success ">Sair</button></a>
<a href="/add/carros"><button class="btn btn-primary ">Cadastrar +</button></a>
<a href="/postagem"><button class="btn btn-dark">Postagem</button></a>

{{#each carros}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>Nome do carro: {{nome}}</h4>
            <h4>Ano: {{ano}}</h4>
            <h4>Preço: R${{preco}}</h4>
            <h4>Descrição: {{descricao}}</h4>
            <h4>Data da postagem: {{data}}</h4>
            
            <a href="/editar/carros/{{_id}}">
                <button class="btn btn-warning mt-4">Editar postagem</button>
            </a>
            <form action="/deletar/carros" method="POST">
                <input type="hidden" name="id" value="{{_id}}">
                <button class="btn btn-danger mt-2">Deletar</button>
            </form>

        </div>
    </div>
{{else}}
    <h3 class="mt-4">Nunhum carro cadastrado!</h3>
{{/each}}