<div class="jumbotron">
  <h1 class="display-4">Seja bem vindo(a) ao TecCar!</h1>
  <p class="lead">Esta é uma plataforma para cadastro e vendas de carros online.</p>
  <hr class="my-4">
  <p>Crie sua conta e cadastre seu carro para venda.</p>
  <a class="btn btn-info btn-lg" href="/usuarios/resgistro" role="button">Criar conta</a>
</div>
<h2>Carros á venda:</h2>
<hr>
{{#each postagens}}
<div class="container">
  <div class="col-sm-8"> 
    <div class="card">
      <div class="card-body">
        <h3>{{titulo}}</h3><br>
        <h4>Carro: {{nome}}</h4>
        <h4>Km/h: {{km}}</h4>
        <h4>Descrição: {{categoria.descricao}}</h4>
        <a href="/postagem/lista/{{nome}}"> 
          <button class="btn btn-warning mt-4">Ler mais</button>
        </a>
        <hr>
        <h6>Data da postagem: {{data}}</h6>
        <h6>Postado por: {{categoria.nomeUser}}</h6>

      </div>
    </div> 
  </div>
</div><br>
{{else}}
  <h3>Nenhuma postagem listada!</h3>
{{/each}}