<div class="container">
    <h2>Postagem do carro : {{postagens.nome}}</h2>
    <hr>
</div>

<div class="container">
    <div class="d-flex justify-content-center">
        <div class="col-sm-7">
            <div class="card mt-4">
                <div class="card-body">
                    <h2>Titulo: {{postagens.titulo}}</h2>
                    <h2>Nome: {{postagens.nome}}</h2>
                    <h2>ano: {{postagens.ano}}</h2>
                    <h2>Km/h: {{postagens.km}}</h2>
                    <h2>R${{postagens.preco}}</h2>
                    <h2>Data da postagem: {{postagens.data}}</h2>

                    <a href="/"><button class="btn btn-success mt-4">Voltar</button></a>
                    <a href="/contatos/email"><button class="btn btn-primary mt-4">Entrar em contato</button></a>

                </div>
            </div>
        </div>
    </div>
</div>
